footer {
	margin-top: 150px;
	padding-top: 25px;
	border-top: 1px solid #C0C0C0;
}

.border-on-right {
	border-right: 1px solid #c0c0c0;
}

.login {
	margin: 15px 0px;
}
.login > div > a {
	margin: 5px;
}

#contact-page {
	font-size: 16px;
}
#contact-page * {
	padding-left: 0px;
}
#contact-page .row {
	margin: 30px 0px;
}

/* new button */
a.custom-button {
	display: inline-block;
	padding-left: 6px;
    background-color:#B02424;
	text-decoration: none;
	cursor: pointer;
}
a.custom-button span {
	color: #FFFFFF;
	line-height: 12px;
	font-size: 12px;
	font-weight: bold;
	display: inline-block;
	padding: 6px 12px 8px 5px;
	background-color: #B02424;
    text-transform:lowercase;
}
a.custom-button:hover {
	background-color: #F94F4F;
}
a.custom-button:hover span {
	color: #FFFFFF;
	background: #F94F4F;
}

.search {
	width: 262px;
	height: 25px;
	position:relative;
}
.button-search {
	background: url('image/button-search.png') center center no-repeat;
	width: 28px;
	height: 23px;
	border-right: 1px solid #CCCCCC;
	cursor: pointer;
	z-index:99;
	margin: 0px;
	position: absolute;
	top: 0px;
	left: 0px;
}
.search input {
	background: #FFF;
	padding: 1px 1px 1px 33px;
	width: 262px;
	height: 24px;
	border: 1px solid #CCCCCC;
	-webkit-border-radius: 3px 3px 3px 3px;
	-moz-border-radius: 3px 3px 3px 3px;
	-khtml-border-radius: 3px 3px 3px 3px;
	border-radius: 3px 3px 3px 3px;
	-webkit-box-shadow: 0px 2px 0px #F0F0F0;
	-moz-box-shadow: 0px 2px 0px #F0F0F0;
	box-shadow: 0px 2px 0px #F0F0F0;	
    color:gray;
	font-size:14px;
	z-index: 1;
	position: absolute;
	top: 0px;
	right: 0px;
}

.custom-navbar {
	height: 50px;
	margin-top: 25px;
	margin-left: 25px;
}