footer {
	margin-top: 150px;
	padding-top: 25px;
	border-top: 1px solid #C0C0C0;
}

.border-on-right {
	border-right: 1px solid #c0c0c0;
}
.border-on-left {
	border-left: 1px solid #c0c0c0;
}

.spacing-under {
	margin-bottom:50px;
}
.spacing-under-small {
	margin-bottom:20px;
}

#front-banner {
	background-color: #9ab2b6;
	background-image: url('image/banner-lighter-back2.jpg');
	height: 600px;
	margin-bottom: 40px;
}
#front-banner > div  {
	padding-left:100px;
}
#front-banner > div > h1 {
	margin-top: 0px;
}
#front-banner > div > .btn, ul, p {
	margin-top: 25px;
}
#front-banner > div > .btn {
	padding: 15px 22px;
}

#why-choose-us > div {
	text-align:center;
}
#why-choose-us > div > p {
	padding: 0px 25px;
}
#why-choose-us > h2 {
	margin-bottom:10px;
}



.question-answer {
	margin: 30px 0px;
}
.question {
	font-weight: bold;
	margin-bottom: 9px;
}



.form-signin {
  max-width: 500px;
  padding: 15px;
  margin: 0;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}


.login-wrap > h1 {
	margin-bottom:50px;
}

.login {
	margin: 15px 0px;
}
.login > div > a {
	margin: 5px;
}

#contact-page {
	font-size: 16px;
}
#contact-page * {
	padding-left: 0px;
}
#contact-page button {
	padding: 7px 20px;
}
#contact-page .row {
	margin: 30px 0px;
}

/* new button */
a.custom-button {
	display: inline-block;
	padding-left: 6px;
    background-color:#B02424;
	text-decoration: none;
	cursor: pointer;
}
a.custom-button span {
	color: #FFFFFF;
	line-height: 12px;
	font-size: 12px;
	font-weight: bold;
	display: inline-block;
	padding: 6px 12px 8px 5px;
	background-color: #B02424;
    text-transform:lowercase;
}
a.custom-button:hover {
	background-color: #F94F4F;
}
a.custom-button:hover span {
	color: #FFFFFF;
	background: #F94F4F;
}

.search {
	width: 262px;
	height: 25px;
	position:relative;
}
.button-search {
	background: url('image/button-search.png') center center no-repeat;
	width: 28px;
	height: 23px;
	border-right: 1px solid #CCCCCC;
	cursor: pointer;
	z-index:99;
	margin: 0px;
	position: absolute;
	top: 0px;
	left: 0px;
}
.search input {
	background: #FFF;
	padding: 1px 1px 1px 33px;
	width: 262px;
	height: 24px;
	border: 1px solid #CCCCCC;
	-webkit-border-radius: 3px 3px 3px 3px;
	-moz-border-radius: 3px 3px 3px 3px;
	-khtml-border-radius: 3px 3px 3px 3px;
	border-radius: 3px 3px 3px 3px;
	-webkit-box-shadow: 0px 2px 0px #F0F0F0;
	-moz-box-shadow: 0px 2px 0px #F0F0F0;
	box-shadow: 0px 2px 0px #F0F0F0;	
    color:gray;
	font-size:14px;
	z-index: 1;
	position: absolute;
	top: 0px;
	right: 0px;
}

.custom-navbar {
	height: 50px;
	margin-top: 25px;
	margin-left: 25px;
}


#apply-page1 > div > img {
	margin-top:50px;
}
.apply-progress {
	font-size:12px;
	text-align:center;
}
#progress-circles {
	margin-bottom: 50px;
	margin-top: 5px;
}
#progress-circles > .apply-progress {
	padding-left: 0px;
}

#apply-page > div.row > div > form > div.row {
	margin: 20px 0px;
}
#apply-page > div.row > div > form > div > div > label {
	font-size: 14px;
}
#apply-page label {
	margin-left:12px;
}
.form-subheading > div > h4 {
	color: #528bff;
}
#apply-page > div.row > div > form > div.short-form-row {
	margin: 7px 0px;
}


.red-text {
	color:#b94a48;
}



#right-menu {
	border:1px solid #c0c0c0;
	padding:25px;
	margin: 0px;
}